*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}
p{
    line-height: 22px;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.login-container{
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.login-container .left, .login-container .right{
    width: 50%;
    float: left;
    position: relative;
    height: 100vh;
}
.login-container::after{
    content: "";
    clear: both;
    display: block;
}
#owl-example img{
    width: 100%;
}
.item{
    position: relative;
    height: 100vh;
}
.img-text{
    position: absolute;
    bottom: 60px;
    padding: 20px;
}
.owl-controls{
    margin-top: -60px !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.otp-section button{
    position: absolute;
    right: 30%;
    bottom: 10%;
}
.login-container .left{
    background-image: url("../images/img-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}
.login-container .right{
    padding: 100px 0px;
    background-image:  url("../images/otp-section.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 70%;
}
.form{
    width: 60%;
    margin: 0px auto;
    z-index: 1;
}
.form-ctrl{
    width: 100%;
    padding: 7px 15px 7px 60px;
    background-color: #e8e6ff;
    border-radius: 50px;
    border: none;
    outline: none;
    height: 50px;
    margin-bottom: 20px;
}
button{
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100;
    font-size: 16px;
}
.btn-orange{
    background-color: #ee5a12;
    color: #fff;
}
.btn-orange:hover{
    background-color: #db5410;
}
.btn-blue{
    background-color: #195ad5;
    color: #fff;
}
.btn-blue:hover{
    background-color: #0a45b3;
}
a.link{
    color: #766ce7;
}
.user-input, .pswd-input{
    position: relative;
}
.user-input {
    background-image: url("../images/user.png");
    background-repeat: no-repeat;
    background-position: 25px 10px;
}
.pswd-input{
    background-image: url("../images/padlock.png");
    background-repeat: no-repeat;
    background-position: 25px 10px;
}
.btn-login{
    width: 150px;
    margin-top: 25px;
}
.logo{
    margin-bottom:30px;
}
