body{
    font-family: 'Roboto', sans-serif;
    color: #1c1c1c;
    background-image: url("../images/bg.png");
    background-size:cover;
    background-repeat: no-repeat;
    z-index: -2;
    overflow-x: hidden !important;
}
header{
    padding: 18px 0px;
}
.logo img{
    width: 190px;
}
header .cst_btn{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 10px 25px;
    background-color: #000000;
    color: #fff;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    font-size: 14px;
    margin-top: 17px;
}
header .cst_btn:hover,
header .cst_btn:active,
header .cst_btn:focus{
    color: #fff;
    background-color: #f68c1e;
    box-shadow: 1px 1px 5px 0px rgba(53, 38, 38, 0.4);
}
.banner{
    margin-top: 16px;
}
h1{
    font-weight: 400;
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: 1px;
}
h3{
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
}
.banner-content{
    margin-top: 50px;
}
.buddy{
    width: 100%;
}


/* css Bounce animation */
/* .animated { 
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
}

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
} */

button:focus{    
    outline: none !important;
}
/* .banner_section{
    background-image: url("../images/banner_bg.png");
    background-size:cover;
    background-repeat: no-repeat;
} */
.section-1{
    margin-top: 50px;
}
.section-1{
    padding-bottom: 70px;
}
.section-1 img,
.section-2 img{
    box-shadow: 1px 1px 10px 1px rgba(53, 38, 38, 0.4);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    /* width: 100%; */
}

.section-3{
    max-width: 1000px;
    margin: 0px auto;
}
.section-3 .img_boxes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 150px;
}
.section-3 .img_boxes .box{
    position: relative;
}
.section-3 .img_boxes .line{
    width: 100%;
    background: #6b6b6b;
    height: 0.5px;
    position: absolute;
    left: 0px;
    top: -80px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    z-index: -1;
}

.section-3 .box{
    padding: 30px;
    box-shadow: 1px 1px 10px 1px rgba(53, 38, 38, 0.4);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 230px;
    background: #fff;
}
.section-3 img{
    width: 150px;
    height: 150px;
}
.section-3 h3{
    font-size: 22px;
}

.section-4{
    margin-top: 70px;
}
.section-4 h1{
    margin-bottom: 40px;
}
.section-4 h2{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 26px;
    margin-top: 0px;
}
.section-4 h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #525252;
}
 
/* .section-4 img{
    margin-top: 85px;
} */
.section-4 h2{
    /* margin-top: 25px; */
    line-height: 1.4;
}
/* .section-4 .receivables-data img{
    margin-top: 55px;
} */
/* .section-4 .receivables-data h2{
    margin-top: 25px;
} */
/* .section-4 .receivables-risk img{
    margin-top: 105px;
} */
/* .section-4 .receivables-risk h2{
    margin-top: 25px;
} */

.bg-box,
.bg-box-right{
    position: relative;
    min-height: 550px;
   
}




.bg-box img,
.bg-box-right img{
    margin-top: 50px;
}
.bg-box {
   justify-content: flex-end;
}
.bg-box::before,
.bg-box-right::before{
    content:"" ;
    position: absolute;
    left: 0px;
    height: 100%;
    width: 70%;
    background-color: #199ce3;
    border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -ms-border-radius: 0px 15px 15px 0px;
    -o-border-radius: 0px 15px 15px 0px;
    z-index: -1;
}

.bg-box-right::before{
    left: inherit;
    right: 0px;
    background-color: #fab56d;
    border-radius: 15px 0px 0px 15px;
    -webkit-border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0px 0px 15px;
    -ms-border-radius: 15px 0px 0px 15px;
    -o-border-radius: 15px 0px 0px 15px;
}

.section-4 .divisor{
    margin: 40px 0px;
}
.testimonial{
    padding: 20px 0px 60px 0px;
}
.testimonial h1{
    margin-bottom: 20px;
}
.testimonial h4{
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    font-size: 22px;
    color: #525252;
    width: 80%;
    margin: 0px auto;
}
.user_info img{
    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
}
.user_info h5{
    font-size: 16px;
    line-height: 1.5;
}
.user_info h5,
.user_info p{
    margin: 0px;
}
.user_info p{
    color: rgb(131, 131, 131);
}
.user_info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.owl-next span,
.owl-prev span{
    font-size: 35px;
    width: 35px;
    background: #fff;
    height: 35px;
    border: 1px solid #ccc;
    display: inline-block;
    line-height: 29px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 5px 0px rgba(53, 38, 38, 0.2);
}
.owl-next span:hover,
.owl-prev span:hover{
      background: #f68c1e;
      color: #fff;
      border: 1px solid #ee810d;
}
.owl-nav{
    position: absolute;
    top: 20px;
    width: 100%;
}
.owl-next,
.owl-prev{
    position: absolute;
}
.owl-next{
    right: 0px;
}


.footer{
    font-size: 16px;
    line-height: 25px;
}
.footer .border{
    border-top: 1px solid rgb(161, 161, 161);
    padding-top: 12px;
    padding-bottom: 12px;
}
.social_links{
    list-style: none;
    float: right;
    margin: 0px;
    padding: 0px;
}
.social_links li{
    float: left;
    margin-left: 15px;
}
.social_links li a{
    color: #020201;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    display: inline-block;
}
.social_links li a:hover{
    color: #fff;
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}
.social_links li i{
    font-size: 22px;
}

/* .easy-signup-img{
    margin-right: 50px;
}
.receivables-data-img{
    margin-left: 60px;
}
.receivables-risk-img{
    margin-right: 40px;
} */



header.mob-hed{
    width: 100%;
    background: #fff;
    padding:10px 0 0 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.54);
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.54);
position: fixed;
top:0;  
height:76px;
z-index: 999999;
}
header.desk-hed{
    width: 100%;
    background: #fff;
    padding:10px 0 0 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);
position: fixed;
top:0;  
height:73px;
z-index: 999999;

}
.mtdesktop{
    width: 100%;
    height: 100px;
    float: left;
    display: none;
}

header.desk-hed .cst_btn{

    margin-top: 5px;
}
.btn-group-lg>.btn, .btn-lg.btncls{
    font-size: 14px;
}
  .logo img.logocls{
    width: 150px;

}

.wd400{
    width: 410px;
    margin-right: 80px;
}



/* extra styles */
.mb-15{
    margin-bottom: 15px;
}
.mb-10{
    margin-bottom: 10px;
}
.m-0{
    margin: 0px;
}
.mobileview{
    display: none;
}


@media screen and (min-width:1024px) {
    .row{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0px;
    }
    .container-fluid{
        padding: 0px;
    }
}

@media screen and (max-width:1200px) {
    .section-1 img,
    .section-2 img{
        width: 100%;
    }
    .bg-box img{
        margin-left: 50px;
    }
}
@media screen and (max-width:1024px) {
    /* .section-4 .receivables-risk h2{
        margin-top: 110px;
    }    */
    /* .section-4 h2 {
        margin-top: 55px;
        margin-bottom: 20px;
    } */
    .section-4 h4{
        margin-bottom: 20px;
    }
    .easy-signup-img,
    .receivables-data-img,
    .receivables-risk-img{
        width: 400px;
    }
    .bg-box, .bg-box-right {
        min-height: 470px;
    }
    /* .section-4 .receivables-data img {
        margin-top: 0px;
    } */
}
@media screen and (max-width:991px) {
    .banner-content{
        margin-top: 0px;
    }
    h1{
        font-size: 36px;
    }
    .buddy{
        margin-top: 25px;
    }
    .banner{
        margin-top: 20px;
    }
    h3{
        font-size: 18px;
    }
    .easy-signup-img,
    .receivables-data-img,
    .receivables-risk-img{
        width: 320px;
    }
    .bg-box, .bg-box-right {
        min-height: 430px;
    }
    
    .receivables-data-img {
        margin-left: 0px;
        margin-right: 0px;
    }
    /* .section-4 .receivables-data h2 {
        margin-top: 85px;
    }
    .section-4 .receivables-risk h2 {
        margin-top: 120px;
    } */
    .btn-group-lg>.btn, .btn-lg{
        font-size: 16px;
    }
    .section-4 h2 {
        font-size: 24px;
    }
    .section-4 h4,.testimonial h4{
        font-size: 18px;
    }
    
}
@media screen and (max-width:800px) {
    .section-4 h2{
        margin-top: 0px;
    }
    /* .section-4 .receivables-risk h2 {
        margin-top: 50px;
    } */
    .logo img {
        width: 170px;
    }
    header {
        padding: 30px 15px;
    }
}


@media screen and (max-width:768px) {
    .buddy{
        width: 300px;
        margin-top: 0px;
    }
    .banner-content{
        width: 70%;
        margin: 0px auto;
    }
    .section-1 {
        padding-bottom: 30px;
    }
    .section-4 {
        margin-top: 30px;
    }
    .bg-box, .bg-box-right{
        text-align: center !important;
        min-height: 340px;
    }
    .bg-box::before, .bg-box-right::before{
        width: 80%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .easy-signup-img,
    .receivables-data-img,
    .receivables-risk-img{
       margin: 0px;
    }
    .section-4 img {
        margin-top: 0px;
    }
    .section-4 .receivables-risk img {
        margin-top: 0px;
    }
    .section-4 .receivables-risk h2 ,
    .section-4 .receivables-data h2 {
        margin-top: 0px;
    }
    .sections_content{
        width: 80%;
        margin: 0px auto;
        margin-top: 30px;
    }
    .section-4 h1{
        width: 80%;
        margin: 0px auto 30px auto;
    }
    .section-3 .box{
        padding: 30px 10px;
        width: 190px;
    }
}
@media screen and (max-width:767px) {
    .section-3 .box{
        width: 160px;
    }
    .section-3 img {
        width: 100px;
        height: 100px;
    }
    .sections_content,
    .section-4 h1,
    .banner-content{
        width: 100%;
    }
    .bg-box::before, .bg-box-right::before{
        width: 96%;
    }
    h1{
        font-size: 28px;
    }
    .section-4 h1{
        margin-bottom: 30px;
    }

    .banner-content h1{
        font-size: 36px;
    }
    .section-4 h2{
        font-size: 24px;
        margin-top: 30px;
    }
    .sections_content{
        margin-top: 10px;
    }
    .receivables-data h2{
        margin-top: 0px;
    }
    .section-4 .receivables-risk h2{
         margin-top: 30px;
    }
    .section-3 .img_boxes{
        margin-top: 100px;
    }
    .divisor.receivables-risk{
        margin-bottom: 0px;
    }
    .section-4 h4,
    .testimonial h4,
    .section-3 h3 {
        font-size: 18px;
    }
    .section-4 h2{
        margin-bottom: 15px;
    }
    .social_links{
        margin-top: 10px;
        /* float: none; */
    }
    .footer{
        text-align: center;
    }
    .bg-box,
    .bg-box-right{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
}
@media screen and (max-width:576px) {
    .deskview
    .buddy {
        width: 240px;
    }
    .banner-content h1 {
        font-size: 32px;
    }

    header .cst_btn{
        padding: 10px 12px;
    }
    .section-3 .box{
        width: 140px;
    }
    .section-3 h3{
        margin: 0px;
    } 
    .section-3 .img_boxes .line{
        top: -50px;
    }
    .btn-group-lg>.btn, .btn-lg {
        font-size: 14px;
    }
    header .cst_btn{
        padding: 10px 20px;
    }
    .banner-content h1,
    h1 {
        font-size: 26px;
        letter-spacing: 0px;
        font-weight: bold;
    }
    .section-4 h2{
        font-size: 22px;
    }
    .deskview{
        display: none;
    }
    .bg-box::before, .bg-box-right::before{
        border-radius: 0;
    }
    .bg-box img.mob-img{
        width: 228px;
        margin: 0;

    }
    .section-4 img {
        margin-top: 22px;
    }
    img.receivables-data-img.mob-img2{
        width: 272px;
        margin-top: 40px;

    }
    .section-4 img.mob-img3{
        width: 228px;
        margin-top: 40px;

    }
    .mobileview{
        display: block;
    }
/* }

@media screen and (max-width:480px) { */
    .section-3 .img_boxes .line{
        display: none;
    }
    .section-3 .img_boxes{
        flex-direction: column;
        flex: 1;
        margin-top: 0px;
    }
    .section-3 .box{
        width: 100%;
        margin-top: 20px;
    }
    .section-3 img {
    width: 150px;
    height: 150px;
    }
    .banner-content h1,
    h1 {
        font-size: 22px;
        letter-spacing: 0px;
        font-weight: 500;
        color: #434343;
        margin-bottom: 10px!important;
    }
    .section-4 h2{
        font-size: 20px;
        text-align: center;
        margin-top: 10px!important;
    }
    h3,
    .section-4 h4,
    .testimonial h4,
    .section-3 h3 {
        font-size: 14px;
        color: #565656;
    }
  
    .section-1 {
        margin-top: 20px;
        padding-bottom: 0px;
    }
     .section-3 img {
        width: 70px;
        height: 70px;
    }
    .logo img {
        width: 120px;
    }
    header .cst_btn {
        padding: 7px 15px;
        margin-top: 12px;
    }
    .section-3 h3.mob-hed{
        font-size: 18px;
    }
    header {
        padding: 20px 0px;
    }
    .buddy {
        width: 220px;
    }
    .section-3 .box{
        padding: 15px 10px;
    }
    header.desk-hed, .mtdesktop{
        height: 76px;
            }
            .logo img{
                width: 150px;
            }
   
}
 

@media screen and (max-width:420px) {  
    .logo img{
        width: 110px!important;
    }

}




/*pricing section css*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
.small-text{
  font-size: 30px;
}
.show_hide{
  padding: 0px 0px 0px 15px 0px;
  margin: 15px 0px;
  display: inline-block;
  text-decoration: underline;
}
.snip1404 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: #333;
  text-align: left;
  font-size: 16px;
  width: 100%;
  margin: 30px auto;
  float: left;
}
.snip1404 img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
.snip1404 .plan {
  margin: 0;
  width: calc(100%/3 - 40px);
  margin: 20px;
  position: relative;
  float: left;
  overflow: hidden;
  /* border: 2px solid #f3f3f3; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  /* min-height: 745px; */
}
.snip1404 .plan:hover i,
.snip1404 .plan.hover i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.snip1404 .plan{
  border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
}
.snip1404 .plan .content{
    display: flex;
    padding: 20px 4px;
    /* background-color: #e8e8e8; */
    font-size: 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.snip1404 .plan .content i{
    font-size: 22px;
    margin-left: 2px;
    color: rgb(92, 92, 92);
}
.snip1404 .plan .content h5{
    margin: 7px 0px 0px 0px;
    font-size: 15px;
    color: #454545;
}
.snip1404 .plan .content > div{
    width: 50%;
}
/* .snip1404 .plan:last-of-type {
  border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -ms-border-radius: 0 8px 8px 0;
  -o-border-radius: 0 8px 8px 0;
} */
.snip1404 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.snip1404 .pricingHeader {
  background-color: #fff;
  /* margin-bottom: 10px; */
}
.snip1404 .plan-title {
  background-color: #199ce3;
  position: relative;
  margin: 0;
  padding: 20px 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.snip1404 .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 300px 0 0;
  border-color: #199ce3 transparent transparent;
}
.pricingHeader{
    position: relative;
}
.pricingHeader::after {
    top: 30px;
    left: 34%;
    font-size: 11px;
    font-weight: 400;
    width: 100%;
    padding: 5px 10px;
    color: #FFFFFF;
    content: 'Introductory price';
    position: absolute;
    text-align: center;
  background: #db750a;
    transform: rotate(45deg);
    box-shadow: 0 3px 20px rgb(0 0 0 / 8%), 0 3px 6px rgb(0 0 0 / 11%);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.pricingHeader.standard::after{
    content: none;
}


.snip1404 .plan-cost {
  padding: 40px 20px 10px;
  text-align: center;
}
.snip1404 .plan-price {
  font-weight: 600;
  font-size: 3em;
}
.snip1404 .plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}
.snip1404 .plan-features {
  padding: 0 0 20px;
  margin: 0;
  list-style: outside none none;
}
.snip1404 .plan-features li {
  padding: 8px 5%;
}
.snip1404 .plan-features i {
  margin-right: 8px;
}
.snip1404 .plan-features i.fa-check {
    color: #27ae60;
}

.snip1404 .plan-features i.fa-times {
    color: #e74c3c;
}

.snip1404 .plan-select {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  /* padding: 20px; */
  text-align: center;
}
.snip1404 .data{
    border: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 410px;
}
.snip1404 .plan-select a {
  background-color: #db750a;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing:1px;
  display: inline-block;
}
.snip1404 .plan-select a:hover {
  box-shadow: 1px 1px 5px 0px rgb(53, 38, 38 , 0.6);
}

.snip1404 .plan-select a.gray{
    background-color: #9da4ac;
}
.snip1404 .plan-select a.blue{
    background-color: #199ce3;
}
.snip1404 .plan:hover {
  margin-top: 14px;
  border-color: #199ce3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;cursor:pointer;
}
.snip1404.enterprise .plan:hover {
    margin-top: 20px;
}
.snip1404 .plan .plan-select {
  padding: 25px 20px;
}
.snip1404.enterprise .plan{
    width: calc(100% - 40px);
}
.snip1404.enterprise .plan-data {
    width: 100%;
    display: flex;
}
.snip1404.enterprise .plan-data  .pricingHeader{
    width: 330px;
}
.snip1404.enterprise .plan-data  .data{
    width: calc(100% - 330px);
    min-height: auto;
    padding: 40px 30px 0px 30px;
}
.snip1404.enterprise .plan-data  .data .list-items{
    display: flex;
    width: 100%;
}
.snip1404.enterprise .plan-data  .data .list-items > div {
    width: 50%;
}
.snip1404.enterprise .plan-data  .content{
    position: relative;
}
.snip1404.enterprise .plan-data  .pricingHeader{
    position: relative;
}
.snip1404.enterprise .plan-data  img{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: initial;
    left: 0;
}
.snip1404.enterprise .plan-data  .plan-cost h4{
    margin-top: 60px;
}

.snip1404.enterprise .plan-data  .pricingHeader::after{
    right: initial;
    left: -80px;
    top: 30px;
    font-size: 11px;
    font-weight: 400;
    width: 240px;
    padding: 5px 10px;
    color: #FFFFFF;
    content: 'Introductory price';
    position: absolute;
    text-align: center;
    background: #db750a;
    transform: rotate(-45deg);
    box-shadow: 0 3px 20px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.featured .pricingHeader::after{
    background: #199ce3;
}
.d-md-none{
    display: none;
}

@media screen and (max-width:991px) {
    .container.pricing_section{
        width: 100%;
    }
    .snip1404 .plan{
        width: calc(100%/3 - 20px);
        margin: 10px;
    }
    .snip1404.enterprise .plan{
        width:calc(100% - 20px);
    }
    .snip1404.enterprise .plan-data .pricingHeader{
        width: 265px;
    }
    .snip1404.enterprise .plan-data .data{
        width:calc(100% - 265px);
    }
}

@media only screen and (max-width: 767px) {
  .snip1404 .plan {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
  }
  .snip1404 .plan-title,
  .snip1404 .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .snip1404 .plan-select,
  .snip1404 .featured .plan-select {
    padding: 20px;
  }
  .snip1404 .featured {
    margin-top: 0;
  }

  .pricingHeader::after{
    right: initial;
    top: 45px;
    left: -70px;
    font-size: 11px;
    font-weight: 400;
    width: 240px;
    padding: 5px 10px;
    color: #FFFFFF;
    content: 'Introductory price';
    position: absolute;
    text-align: center;
    background: #db750a;
    transform: rotate(-45deg);
    box-shadow: 0 3px 20px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
    .snip1404.enterprise .plan-data .pricingHeader::after{
        top: 45px;
        left: -70px;
    }
    .snip1404 .data{
        min-height: 350px;
    }
    .plan-features:not(.snip1404.enterprise .plan-features){
        display: flex;
        flex-wrap: wrap;
    }
    .plan-features li:not(.snip1404.enterprise .plan-features li){
        width: 50%;
    }
    .snip1404 .plan .content{
        bottom: 20px;
    }
    .snip1404 .plan-cost{
        padding-top: 20px;
    }
    .snip1404.enterprise .plan-data{
        flex-direction: column;
    }
    .snip1404.enterprise .plan-data .pricingHeader,
    .snip1404.enterprise .plan-data .data,
    .snip1404.enterprise .plan{
        width: 100%;
    }
    .snip1404.enterprise .plan-data img{
        display: none;
    }
    .snip1404.enterprise .plan-data .plan-cost h4{
        margin-top: 0px;
    }
    .snip1404.enterprise .plan-data .plan-cost h4{
        margin-top: 10px;
    }
    .d-sm-none{
        display: none;
    }
    .d-md-none{
        display: block;
    }
    .snip1404.enterprise .plan-data .data{
        padding: 10px 20px 0px 20px;
    }
    .snip1404 .data{
        padding-top: 10px;
    }
}
@media only screen and (max-width: 576px) {
    .plan-features:not(.snip1404.enterprise .plan-features){
        display: block;
    }
    .plan-features li:not(.snip1404.enterprise .plan-features li){
        width: 100%;
    }
    .snip1404 .data{
        min-height: 420px;
    }
    .snip1404.enterprise .plan-data .data .list-items{
        display: block;
    }
    .snip1404.enterprise .plan-data .data .list-items > div{
        width: 100%;
    }
    .snip1404.enterprise .plan-data .data .list-items div:first-child .plan-features{
        padding-bottom: 0px;
    }
}
@media only screen and (max-width: 440px) {
  .snip1404 .plan {
    width: 100%;
  }
}